*, *::before, *::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
}

/* Typography and icons */

/* Layout */

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    padding: 2.5rem 3.125rem;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.recent-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.recent-posts-heading {
    grid-column: 1 / -1;
    text-align: center;
}

.recent-post {
    background: pink;
    border-radius: 10px;;
}

.about-me-top {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.about-me-top-text {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Buttons */

/* Images */

/* .logo-image {
    height: 40%;
} */

.recent-post-image {
    border-radius: 10px;
}

/* Links */

/* Media queries */

@media (min-width: 600px) {
    .recent-posts {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}
